*{
    box-sizing: border-box;
}

@font-face {
    font-family: "Backtothefuture";
    src: url("../fonts/BTTF.ttf");
}

h1, .navbar-brand {
    font-family: "Backtothefuture";
}

.alter-top{
    top: 15px !important;
}