/* FONTS BEGIN */
@font-face {
  font-family: "Backtothefuture";
  src: url("../fonts/BTTF.ttf");
}

h1,
h2,
h3,
h4,
h5,
.navbar-brand {
  font-family: "Backtothefuture";
}
/* FONTS END */

/* SHOPPING CART BEGIN */
/* Cart general */
.card {
  padding: 0px !important;
  border: none !important;
  padding-top: 15px !important;
  border-radius: 0px !important;
}

#shopping-cart {
  font-size: 0.7em;
}

/* Cart header */
.card-header,
.card-footer {
  border-radius: 0em !important;
  background-color: #f8bbd0 !important;
}

.ttl-shp-cart {
  margin-top: 0.5em;
}

.card-header * {
  margin: 0px !important;
  text-align: center;
}

.list-group-item {
  padding: 0.2em !important;
}

.product-cart {
  display: flex;
  align-items: center !important;
}

.product-cart .container {
  display: flex;
  justify-content: center;
}

/* Cart detail */
.list-group-item * {
  padding: 0px !important;
}

.img-cart {
  width: 3em;
}
/* Product control */
.form-control {
  font-size: inherit !important;
}

#qty {
  background-color: #fce4ec;
  border: none;
}

#qty:focus {
  outline: none;
  border: 0px;
}

#rmv-prd:hover {
  cursor: pointer;
}

.card-footer {
  text-align: right;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.2em;
}

/* SHOPPING CART END */

/* HEADER BEGIN */
.main-banner {
  padding-top: 1em;
}
/* HEADER END */

/* MAIN BEING */
main {
  margin: 10px;
}

.alter-top {
  top: 7px !important;
}

#menu-categories img {
  width: 60px;
  padding-left: 20px;
  cursor: pointer;
}

.shopping-cart {
  background-color: #f8bbd0;
}

/* MAIN END */

/* NAV BEGIN */
.navbar {
    background-color: #f06292;
}

@media (max-width: 576px) {
    .navbar-brand {
        opacity: 0;
    }
}
/* NAV END */

/* DRAGABBLES BEGIN */
.draggable_div {
  padding: 15px;
  cursor: pointer;
  max-height: 14em;
  height: 14em;
}

.draggable_div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.bottom-right {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

.bottom-right button {
  background-color: #fce4ec;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10%;
  opacity: 0.8;
}

/* Shopping cart */
.opac {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0.3;
}

/* DRAGABLES END */

/* FOOTER BEGIN */
footer {
  background-color: #fce4ec;
  text-align: center;
}

footer h5, footer .image_ftr {
  text-align: center;
}

footer a {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

footer i {
  margin-right: 1em;
}

footer a:hover {
  text-decoration: none;
  color:#f06292;
}

.footer-copyright {
  background-color: #f06292;
  color: #f8bbd0;
  font-size: 0.6em;
}

footer img {
    width: 5em;
    border-radius: 50%;
}
/* FOOTER END */
